[Unit]
Description=YouTrack Service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker exec haproxy stop
ExecStartPre=-/usr/bin/docker rm haproxy
ExecStart=/usr/bin/docker run --rm --name {{ HAProxy_Container_Name }} \
    --network {{ Container_Network_Mode }} \
    {{ HAProxy_Image_Name }}

[Install]
WantedBy=default.target